@media (max-width: 415px) {

  body {
    font-size: 22px;
    color: #002a14;
    background-color:#e1e0db;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    height: 100%;
  }

}

  body {
    font-size: 36px;
    color: #002a14;
    background-color:#e1e0db;
    text-align: center;
    font-family: 'Oswald', sans-serif;

  }

  h1 img {
    width: 95vw;
  }

#map {
    height: 75vh;
  }


  a {
  color: #002a14;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  font-size: 0.1px;
}
