@media (max-width: 415px) {

  body {
    font-size: 22px;
    color: #002a14;
    background-color:#e1e0db;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }

}

  body {
    font-size: 36px;
    color: #002a14;
    background-color:#e1e0db;
    text-align: center;
    font-family: 'Oswald', sans-serif;

  }

  h1 img {
    width: 100vw;
  }

  img.map {
    width: 100vw;
  }
